In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic = pd.read_csv("Data/titanic.txt", sep = ";")

In [3]:
#del titanic["Name"] pour supprimer une colonne

print(titanic)
print(titanic.info())

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings  Parents     Fare
0      male  22.0         1        0   7.2500
1    female  38.0         1        0  71.2833
2    female  26.0         0        0   7.9250
3    female  35.0         1        0  53.1000
4      male  35.0         0        0   8.0500
..      ...   ...       ...      ...      ...
882    male  27.0         0        0  13.0000
883  female  19.0         0        0  30.0000
884  female   7.0         1        2  23.4500
885    male  26.0         0        0  30.0000
886    male  32.0         0        0   7.7500

[887 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  887 non-null    int64
 1   Pclass    887 non-null    int64
 2   Name      887 non-null    object
 3   Sex       887 non-null    object
 4   Age       887 non-null    float64
 5   Siblings  887 non-null    int64
 6   Parents   887 non-null    int64
 7   Fare      887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

In [4]:
print(titanic["Survived"].value_counts())
print(titanic["Pclass"].value_counts())
print(titanic["Sex"].value_counts())
print(titanic["Siblings"].value_counts())
print(titanic["Parents"].value_counts())
print(titanic["Fare"].value_counts())

0    545
1    342
Name: Survived, dtype: int64
3    487
1    216
2    184
Name: Pclass, dtype: int64
male      573
female    314
Name: Sex, dtype: int64
0    604
1    209
2     28
4     18
3     16
8      7
5      5
Name: Siblings, dtype: int64
0    674
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parents, dtype: int64
8.0500     43
13.0000    42
7.8958     36
7.7500     33
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: Fare, Length: 248, dtype: int64

In [5]:
matcorr = titanic.corr()
print(matcorr)

          Survived    Pclass       Age  Siblings   Parents      Fare
Survived  1.000000 -0.336528 -0.059665 -0.037082  0.080097  0.256179
Pclass   -0.336528  1.000000 -0.391492  0.085026  0.020252 -0.548919
Age      -0.059665 -0.391492  1.000000 -0.297669 -0.193741  0.112329
Siblings -0.037082  0.085026 -0.297669  1.000000  0.414244  0.158839
Parents   0.080097  0.020252 -0.193741  0.414244  1.000000  0.215470
Fare      0.256179 -0.548919  0.112329  0.158839  0.215470  1.000000