In [15]:
2+2

4

In [8]:
ma_variable = 3

In [9]:
ma_variable * 3

9

In [10]:
a = 2
b = 3.5
c = "bonjour"

In [13]:
type(c)

str

In [14]:
print(c)

bonjour

In [16]:
liste = [1, 2, 3, 4]

In [17]:
type(liste)

list

In [24]:
liste

[1, 2, 3, 4]

In [22]:
liste[1] # On récupère l'élément en position 1

2

In [25]:
len(liste)

4

Bonjour tout le monde !

In [31]:
def fonction(x, y):
    print(x, y)
    return x + y

In [32]:
fonction(2, 3)

2 3

5

In [41]:
# Créer une fonction qui somme les éléments d'une liste
def somme_liste(liste):
    somme = 0
    print("somme :", somme)
    for e in liste:
        somme += e
        print("Itération :")
        print("e :", e)
        print("somme :", somme)
    return somme

In [42]:
somme_liste([1, 2, 3, 4])

somme : 0
Itération :
e : 1
somme : 1

1

In [43]:
sum([1, 2, 3, 4])

10

In [51]:
liste = [1, 2, 3]

In [52]:
liste.append(5)
liste

[1, 2, 3, 5]

In [53]:
liste.pop()
liste

[1, 2, 3]

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [56]:
for i in range(len(liste)):
    print(i, liste[i])

0 1
1 2
2 3

In [68]:
# Créer une fonction qui somme deux listes
# [1, 2, 3] + [4, 5, 6] -> [5, 7, 9]
def somme_vecteur(liste1, liste2):
    resultat = []
    for i in range(len(liste1)): 
        resultat.append(liste1[i] + liste2[i])
        print("i =", i)
        print("liste1[i] =", liste1[i])
        print("liste2[i] =", liste2[i])
        print("resultat =", resultat)
    return resultat

In [69]:
somme_vecteur([1, 2, 3], [4, 5, 6])

[5, 7, 9]

In [ ]:
for i in range(10):
    print(i * 0.5)

In [74]:
# Créer une fonction qui réalise le produit en un scalaire et un vecteur
# 3 * [1, 2, 3] -> [3, 6, 9]
def scalaire_vecteur(k, liste):
    resultat = []
    for i in range(len(liste)):
        resultat.append(k * liste[i])
    return resultat

In [75]:
scalaire_vecteur(3, [1, 2, 3])

[3, 6, 9]

In [76]:
bool1 = True
bool2 = False

In [77]:
type(bool1)

bool

In [78]:
2 + 2

4

In [79]:
2 * 3

6

In [80]:
6 - 2

4

In [81]:
3 / 2

1.5

In [83]:
7 // 3

2

In [84]:
7 % 3

1

In [87]:
def est_pair(n):
    if n % 2 == 0:
        print("pair")
    else:
        print("impair")

In [88]:
est_pair(3)

impair

In [89]:
est_pair(4)

pair

In [104]:
n = 1
n > 0 and n < 2

True

In [105]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [106]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [107]:
print(not True)
print(not False)

False
True

In [112]:
# Si une année est divisible par 4, 100 et 400, il s'agit d'une année bissextile.
# Si une année est divisible par 4 mais pas par 100, il s'agit d'une année bissextile.
# Si une année n'est pas divisible par 4, il ne s'agit pas d'une année bissextile.
# Si une année est divisible par 4 et par 100 mais pas par 400, il ne s'agit pas d'une année bissextile.

def est_bissextile(annee):
    if annee % 4 == 0 and annee % 100 == 0 and annee % 400 == 0:
        print("bissextile")
    if annee % 4 == 0 and not annee % 100 == 0:
        print("bissextile")
    if not annee % 4 == 0:
        print("non bissextile")
    if annee % 4 == 0 and annee % 100 == 0 and not annee % 400 == 0:
        print("non bissextile")

def est_bissextile2(annee):
    if annee % 400 == 0 or annee % 4 == 0 and not annee % 100 == 0:
        print("bissextile")
    else:
        print("non bissextile")

def est_bissextile3(annee): # utiliser avec print
    return annee % 400 == 0 or annee % 4 == 0 and not annee % 100 == 0

In [116]:
est_bissextile(2000) # bissextile
est_bissextile(2020) # bissextile
est_bissextile(2023) # non bissextile
est_bissextile(1900) # non bissextile

bissextile
bissextile
non bissextile
non bissextile

In [ ]:
t = 0
while t <